* {
  margin: 0%;
  padding: 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ----Background and Body stylings---- */
body {
  background-color: #080808;
  color: white;
}
#header {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  background-image: url(Images/astronaut-space-3840x2715-10019.jpg);
  background-size: cover;
  background-position: center;
}

/* ----Logo Stylings---- */
.logo {
  font-size: 25px;
}
.folio {
  color: orangered;
  font-size: larger;
}

/* ----Navbar Stylings---- */
.container {
  padding: 10px 5.5rem;
  width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  position: relative;
}
nav ul li a::after {
  content: "";
  background: orangered;
  height: 3px;
  width: 0;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
#nav-togglers {
  display: none;
}

/* ----Headings Stylings---- */
.heading {
  margin-top: 16%;
  text-align: right;
  font-size: 20px;
}
.heading p {
  text-shadow: 3px 3px 2px #080808;
}
.heading p span {
  color: orangered;
}
.heading h1 {
  font-size: 55px;
  text-shadow: 5px 5px 3px #080808;
}
.myname {
  color: orangered;
}
.nigeria {
  color: green;
}

/* ----About section stylings---- */
#about {
  padding: 50px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
}
.about-col-1 {
  flex-basis: 30%;
}
.enoch {
  width: 100%;
  border-radius: 0.5rem;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: white;
}

/* ----the tab section---- */
.tab-titles {
  display: flex;
  gap: 4rem;
  margin: 20px 0 40px;
  cursor: pointer;
}
.tab-links {
  font-size: 18px;
  font-weight: 500px;
  cursor: pointer;
  position: relative;
}
.active-link::after {
  content: "";
  background: orangered;
  width: 50%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.5s;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: rgb(172, 74, 38);
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.active-tab {
  display: block;
}

/* ----Portfolio Section---- */
#portfolio {
  padding: 50px 0;
  color: white;
}
.work-project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work-art-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 0.3rem;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 0.3rem;
  display: block;
  transition: 0.5s;
}
.work:hover img {
  transform: scale(1.1);
}
.layer {
  border-radius: 0.3rem;
  width: 100%;
  height: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgb(255, 94, 0));
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.layer h3 {
  margin-bottom: 20px;
  font-weight: 500;
}
.layer a {
  background-color: white;
  text-decoration: none;
  color: orangered;
  line-height: 60px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.work:hover .layer {
  height: 100%;
}
.btn {
  margin: 50px auto;
  width: fit-content;
  display: block;
  border: 1px solid rgb(255, 80, 0);
  padding: 14px 50px;
  border-radius: 0.3rem;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.btn:hover {
  background-color: rgb(255, 80, 0);
}

/* ----Services Section---- */
#services {
  padding: 50px 0;
  color: white;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background-color: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 0.3rem;
  transition: 0.5s;
}
.services-list div h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-shadow: 3px 4px 1px #080808;
}
.services-list div p {
  margin-bottom: 1rem;
}
.services-list div a {
  text-decoration: none;
  color: white;
}
.services-list div a i {
  font-size: 18px;
}
.services-list div:hover {
  background-color: rgb(255, 80, 0);
  transform: translateY(-10px);
}
.services-list i {
  font-size: 50px;
  margin-bottom: 2rem;
}

/* ----Contact Section---- */
#contact {
  padding: 50px 0;
  color: white;
}
.contact-left {
  flex-basis: 35%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i{
  color:rgb(255, 80, 0);
}
.contact-right {
  flex-basis: 60% ;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  outline: none;
  border: none;
  background-color: #262626;
  padding: 1rem;
  margin: 0.5rem 0;
  color: white;
  font-size: 15px;
  border-radius: 0.3rem;
}
form .btn2 {
  font-size: 15px;
  cursor: pointer;
  margin: 0.3rem 0;
}
.btn2 {
  display: inline-block;
  background-color: rgb(255, 80, 0);
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  padding: 0%;
  margin-right: 2rem;
  font-size: 30px;
  color:rgb(255, 80, 0);
}



.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background-color: #262626;
}

/* -----mobile css stylings----- */
@media (max-width: 750px) {
    .container {
        padding: 10px 2.5rem;
        width: 100%;
      }
  .heading {
    margin-top: 40%;
    font-size: 16px;
  }
  .heading h1 {
    font-size: 30px;
  }
  #nav-togglers {
    display: block;
  }
  nav ul{
    background-color: rgb(255, 80, 0);
    display: block;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 4;
    transition: 0.5s;
  }
  nav ul i{
    font-size: 25px;
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  nav ul li{
    display: block;
    font-weight: 300;
    font-size: 20px;
    margin: 25px;
  }
  .sub-title{
    font-size: 40px
  }
  .row{
    display: block;
  }
  .about-col-1{
    margin-bottom: 2.5rem;
  }
  .about-col-2{
    font-size: 14px;
  }
  .tab-titles{
    gap: 1rem;

  }
  .tab-links{
    font-size: 16px;
    margin-right: 0px;
  }
  .copyright{
    font-size: 14px;
  }
}
